@model Aeg.TaskManager.Entity.User

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<h2 class="text-center mt-4 border-bottom pb-1">Kullanıcı Oluşturma</h2>
<form action="/Supervisor/Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-horizontal mt-3">
        <div class="mb-3">
            <label for="Username">Kullanıcı Adı</label>
            <div class="input-group input-group-merge">
                <span class="input-group-text rounded-0" style="border-bottom-left-radius:5px !important; border-top-left-radius:5px !important;">
                    <i class="fa fa-user"></i>
                </span>
                <input id="Username" name="Username" type="text" class="form-control" />
            </div>
        </div>
        <div class="mb-3">
            <label for="Email">Email Adresi</label>
            <div class="input-group input-group-merge">
                <span class="input-group-text rounded-0" style="border-bottom-left-radius:5px !important; border-top-left-radius:5px !important;">
                    <i class="fa fa-envelope"></i>
                </span>
                <input id="Email" name="Email" type="email" class="form-control" />
            </div>
        </div>
        <div class="mb-3">
            <label for="Password">Şifre</label>
            <div class="input-group input-group-merge">
                <span class="input-group-text rounded-0" style="border-bottom-left-radius:5px !important; border-top-left-radius:5px !important;">
                    <i class="fa fa-lock"></i>
                </span>
                <input id="Password" name="Password" type="password" class="form-control" />
            </div>
        </div>
        <div class="mb-3">
            <label for="NameSurname">Ad Soyad</label>
            <div class="input-group input-group-merge">
                <span class="input-group-text rounded-0" style="border-bottom-left-radius:5px !important; border-top-left-radius:5px !important;">
                    <i class="fa fa-id-card"></i>
                </span>
                <input id="NameSurname" name="NameSurname" type="text" class="form-control" />
            </div>
        </div>
        <div class="mb-3">
            <div class="col-md-offset-2 float-right">
                <a class="btn btn-warning me-3" href="/User/Index">Kullanıcı Listesi</a>
                <input type="submit" value="Kaydet" class=" btn btn-primary " />
            </div>
        </div>
    </div>
</form>
